#center {
  display: inline-block;
}
#wrapCenter {
  text-align: center;
}

.bottomHUD {
  background: cyan;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topHUD {
  background: cyan;
  padding-top: 5px;
  padding-bottom: 5px;
}

.UINform {
  border: 1px dashed black;
  margin-top: 10px;
  resize: none;
}

.Submitbutton {
  margin-bottom: 10px;
  padding: 10px;
  background: green;
  color: white;
  font-size: large;
}

.Header {
  color: red;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
  padding: 3px;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
