#center {
  display: inline-block;
}
#wrapCenter {
  text-align: center;
}

.numPad {
  border: 3px solid #999;
  border-radius: 8px;
  background: white;
  font-size: large;
  padding: 8px;
  margin: 4px;
}

.commando {
  color: white;
  border: 1px solid white;
  outline: none;
}

.bottomHUD {
  background: #500000;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.topHUD {
  background: #500000;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white; 
}

.UINform {
  border: 2px solid #dbdbdb;
  margin-top: 10px;
  margin-bottom: 5px;
  resize: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #4d4d4d;
  border-radius: 6px;
  padding: 0.5rem;
  height: 1.4375rem;
}

.Submitbutton {
  margin-bottom: 10px;
  padding: 10px;
  font-size: large;
  border-radius: 16px;
  color: #500000;
  background-color: #f8cf66;
  border-color: #370000;
  border: 3px solid;
}

.classButton {
  margin: 5px;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 10px;
  background: #f8cf66;
  color: #500000;
  font-size: large;
  border-color: white;
}

.Header {
  color: #800000;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
  padding: 4px;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
